[project]
	description = WillDav Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/willfin
[access "refs/for/refs/*"]
	read = group user/willfin
	push = group user/willfin
	label-Code-Review = -2..+2 group user/willfin
	label-Verified = -1..+1 group user/willfin
	rebase = group user/willfin
	removeReviewer = group user/willfin
	submit = group user/willfin
[access "refs/heads/*"]
	read = group user/willfin
	create = group user/willfin
	push = +force group user/willfin
	pushMerge = group user/willfin
[access "refs/tags/*"]
	push = group user/willfin
	push = +force group user/willfin
